#NOTICE: DOES NOT SUPPORT ARM. ONLY AMD64!
version: "3"
services:
  element-web:
    image: vectorim/element-web:latest
    container_name: element-web
    volumes:
      - {{ elementpath }}/config.json:/app/config.json

