version: "3"
services:
  letsencrypt:
    image: linuxserver/letsencrypt
    container_name: letsencrypt
    ports:
      - 80:80
      - 443:443
    volumes:
      - /home/{{ user }}/letsencrypt/config/:/config:rw
      - {{ nginxsites }}:/config/letsencrypt/nginx/site-confs/:rw
    environment:
      - EMAIL={{ email }}
      - URL={{ domain }}
      - SUBDOMAINS={{ subdomains }}
      - VALIDATION=http
      - TZ=Europe/Berlin
